<form class="form" action="/login" method="POST">
  <label for="username">Username </label>
  <input type="text" name="username" minlength="3" maxlength="15" required>

  <label for="password">Password:</label>
  <input type="password" name="password" required>

  <button class="submit-button" type="submit">Submit</button>
</form>

<a href="/" class="btn rounded-button" >&#8629;</a>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}