<div class="login-form-container">
  <div class="login">

  <div class="all-divs">
 
  <img  src="/images/colored-tinder-logo.png" alt="logo">
    
  <form action="/login" method="POST">
  
  <div class="div-user">
    <label  class="login-user" for="username">Username </label>
    <input placeholder="Enter username" type="text" name="username" minlength="3" maxlength="15" required>
  </div>

  <div>
     <label class="login-pwd" for="password">Password</label>
     <input placeholder="Enter password" type="password" name="password" required>
  </div>
  
  <div class="login-button-container">
     <button class="login-btn" type="submit">Login</button>
     <a href="/" class="btn rounded-button-login" ><h2>&#8629; </h2> </a>
  </div>
  
</div>

</form>

</div>


</div>


{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}