<div class="login">

  <div class="logo">
    <img src="" alt="logo">
    <h1>Login</h1>
  </div>
  

  <form action="/login" method="POST">
  
  <div class="user">
    <label for="username">Username </label>
    <input placeholder="Enter username" type="text" name="username" minlength="3" maxlength="15" required>
  </div>

  <div class="pwd">
     <label for="password">Password</label>
     <input placeholder="Enter password" type="password" name="password" required>
  </div>
  
  <div class="login-button">
     <button  type="submit">Login</button>
     <a href="/" class="btn rounded-button" >&#8629;</a>
  </div>
  

</form>



</div>
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}