<form action="/signup" method="POST" enctype="multipart/form-data">

<section>

    <label for="usernamme" >Username</label>
    <input type="text" name="username" minlength="3" maxlength="15" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <label for="age">Age</label>
    <input type="number" name="age" required>

  <button type="button"> Step 2</button>

</section>

<section>
    <label for="name">Name</label>
    <input type="text" name="name" minlength="3" maxlength="10" required>


    
    <fieldset>
        <legend>Interests:</legend>
        <select name="interests" multiple>
            <option value="Food">Food</option>
            <option value="Music">Music</option>
            <option value="Coding">Coding</option>
            <option value="Dance">Dance</option>
        </select>
    </fieldset>

    <label for="aboutMe">About me</label>
    <input type="text" name="aboutMe" minlength="3" maxlength="250" required>


    <label for="campus" >Campus</label>
    <select name="campus" required>
        <option  selected="selected"  value="3">Select an option</option>
        <option  value="Barcelona">Barcelona</option>
        <option  value="Amsterdam">Amsterdam</option>
        <option  value="Madrid">Madrid</option>
        <option  value="Miami">Miami</option>
        <option  value="Berlin">Berlin</option>
        <option  value="Paris">Paris</option>
    </select>

    <button type="button"> Step 3</button>

</section>


<section>

<label for="profileImg">Photo</label>

    <input type="file" name="profileImg"required>
    
    <button type="submit">Submit>></button>

</section>


</form>

<a href="/">Back to index</a>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
