<form action="/signup" method="POST" enctype="multipart/form-data">

<section>

    <label for="usernamme" >Username</label>
    <input type="text" name"username" minlength="3" maxlength="15" required>

    <label for="password">Password</label>
    <input type="password" name="password" required>

    <label for="age">Age</label>
    <input type="number" name="age" required>

  <button type="button"> Step 2</button>

</section>

<section>
    <label for="name">Name</label>
    <input type="text" name="name" minlength="3" maxlength="10" required>

    <label for="interest" >Interest</label>
        <select required>
            <option  selected="selected"  value="3">Select an option</option>
            <option  value="1">Food</option>
            <option  value="2">Music</option>
            <option  value="4">Coding</option>
            <option  value="5">Dance</option>
        </select>

    <label for="aboutMe">About me</label>
    <input type="text" name="aboutMe" minlength="3" maxlength="250" required>


    <label for="campus" >Campus</label>
        <select required>
            <option  selected="selected"  value="3">Select an option</option>
            <option  value="1">Barcelona</option>
            <option  value="2">Amsterdam</option>
            <option  value="4">Madrid</option>
            <option  value="5">Miami</option>
            <option  value="5">Berlin</option>
            <option  value="5">Paris</option>
        </select>

    <button type="button"> Step 3</button>

</section>


<section>

<label for="profileImg">Photo</label>

    <input type="file" name="profileImg"required>
    
    <button type="submit">Submit>></button>

</section>


</form>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
