<div class="signup-form-container">

    <div class="signup-boxes-firstpage">


        <form action="/signup" method="POST" enctype="multipart/form-data" >



            <section class="signup-step1">
        <img src="/images/colored-tinder-logo.png" alt="logo">

{{#if errorMessage}}
<p style="margin-top: 10px">{{errorMessage}}</p>
{{/if}}

                <div class="signup-username">
                    <label for="username">Username</label>
                    <input placeholder="Username" class="no-autocomplete" autocomplete="on" type="text" name="username" minlength="3" maxlength="15" >
                </div>

                <div class="signup-password">
                    <label for="password">Password</label>
                    <input placeholder="Password" type="password" name="password" >
                </div>

                <div class="signup-age">
                    <label for="age">Age</label>
                    <input placeholder="Age" type="number" name="age" >
                </div>

                <div class="signup-button">
                    <a href="/" class="btn rounded-button">
                        <h2>&#8629;</h2>
                    </a>
                    <button class="signup-step1-button" onclick="showOrHideDiv()">Next</button>
                </div>
    </div>



    </section>



    <section class="signup-step2 hidden">
        <img src="/images/colored-tinder-logo.png" alt="logo">

        <div class="signup-name">
            <label class="signup-label-name" for="name">Name</label>
            <input placeholder="Name" class="no-autocomplete2" autocomplete="on" type="text" name="name" minlength="3" maxlength="15" >
        </div>


        <fieldset class="signup-fieldset">
            <legend class="signup-interests-name">Interests:</legend>
            <select class="signup-interests-box" name="interests" multiple>
                <option value="Food">Food</option>
                <option value="Dance">Dance</option>
                <option value="Travel">Travel</option>
                <option value="Go for a drink">Go for a drink</option>
                <option value="Warm Tv">Warm Tv</option>
                <option value="Music">Music</option>
                <option value="Sports">Sports</option>
                <option value="Reading">Reading</option>
                <option value="Trekking">Trekking</option>
                <option value="Design">Design</option>
                <option value="Coding">Coding</option>
                <option value="Cooking">Cooking</option>
                <option value="Shopping">Shopping</option>
                <option value="Museums">Museums</option>
                <option value="Photography">Photography</option>
                <option value="Tattoos">Tattoos</option>
                <option value="Biking">Biking</option>
                <option value="Handmaking">Handmaking</option>
            </select>
        </fieldset>


        <div class="signup-aboutme">
            <label class="signup-label-aboutme" for="aboutMe">About me</label>
            <input placeholder="About me" type="text" name="aboutMe" minlength="3" maxlength="250" >
        </div>

        <label class="campus-text" for="campus">Campus</label>
        <select class="select-campus" name="campus" >
            <option selected="selected" value="3">Select a campus</option>
            <option value="Barcelona">Barcelona</option>
            <option value="Amsterdam">Amsterdam</option>
            <option value="Madrid">Madrid</option>
            <option value="Miami">Miami</option>
            <option value="Berlin">Berlin</option>
            <option value="Paris">Paris</option>
        </select>

        <button class="signup-step2-button" onclick="showOrHideDiv2()">Next</button>


    </section>


    <section class="signup-step3 hidden">
        <img src="/images/colored-tinder-logo.png" alt="logo">

        <label for="profileImg" class="btn btn-primary add-plus"> Add profile photo <img style="width: 30px;"
                src="/images/plus.ico" alt="plus-icon" class="signup-icon">

        </label>
        <input class="signup-choosefile" type="file" id="profileImg" name="profileImg" required>

        <button class="signup-step3-submit" type="submit">Submit</button>

    </section>

    </form>

</div>

<script>
    function showOrHideDiv() {
        let step1 = document.querySelector(".signup-step1")
        let step2 = document.querySelector(".signup-step2") 

        let noAutocomplete = document.querySelector(".no-autocomplete")

        noAutocomplete.setAttribute("autocomplete", "off")
        
        step1.classList.toggle("slide-up")
        setTimeout(()=>{
        step1.classList.toggle("hidden")
        step2.classList.toggle("hidden")
        },1000)
    }
</script>

<script>
    function showOrHideDiv2() {
        let step2 = document.querySelector(".signup-step2")
        let step3 = document.querySelector(".signup-step3")

        let noAutocomplete2 = document.querySelector(".no-autocomplete2")

        noAutocomplete2.setAttribute("autocomplete", "off")

        step2.classList.toggle("slide-up2")
        setTimeout(() => {
        step2.classList.toggle("hidden")
        step3.classList.toggle("hidden")
        },1300)
    }
</script>

