<footer>
    <nav>
      <ul>
        <li>
              {{> swipe}}
              <a href="/swipe/show/{{_id}}"> Swipe </a>
        </li>
        <li>
              {{> profile}}
              <a href="/profile/{{_id}} ">Profile</a>
        </li>
        <li>
              {{> matches}}
               <a href="/matches/{{_id}}"> Matches </a>
        </li>
      </ul>
    </nav>
</footer>