<footer>
    <nav>
      <ul>
        <li>
              <a href="/swipe/show/{{activeUser._id}}"> Swipe </a>
        </li>
        <li>
              <a href="/profile/{{activeUser_id}} ">Profile</a>
        </li>
        <li>
               <a href="/matches/{{activeUser._id}}"> Matches </a>
        </li>
      </ul>
    </nav>
</footer>