<footer>
    <nav>
      <ul>
        <li>
              <a href="/swipe/show/{{user._id}}"> Swipe </a>
        </li>
        <li>
              <a href="/profile/{{user._id}} ">Profile</a>
        </li>
        <li>
               <a href="/matches/{{user._id}}"> Matches </a>
        </li>
      </ul>
    </nav>
</footer>