body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.inline-buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipe-container{
  width: 100%;
  display: flex;
  justify-content: center;
}