body {
  padding: 0;
  margin: 0;
}

.inline-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipe-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CARWI'S CSS*/

a.animated-button:link:after,
a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}
a.animated-button:link:hover,
a.animated-button:visited:hover {
  color: #fff;
  -webkit-text-fill-color: white;
  text-shadow: none;
}
a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
  
  height: 600%;
}
a.animated-button:link,
a.animated-button:visited { /* contorno letra */
  position: relative;
  display: relative;
  margin: 0 0 10px 0;
  padding: 10px 10px;
  width: 250px;
  color: #fff;
  font-size: 25px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.08em;
  /*text-shadow:-1.2px -1.2px rgba(148,43,250,1), 1.2px -1.2px rgba(148,43,250,1), 1.2px 1.2px rgba(148,43,250,1), -1.2px 1.2px rgba(148,43,250,1);*/
  color: rgba(148,43,250,1);
  background: linear-gradient(to right, rgba(43,197,250,1) 20%, rgba(148,43,250,1) 50%, rgba(254,61,99,1) 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a.animated-button.victoria-one {
  border: 2px solid rgba(148,43,250,1);
}
a.animated-button.victoria-one:after { /* Background effect hover */
  background: linear-gradient(138deg, rgba(43,197,250,1) 20%, rgba(148,43,250,1) 50%, rgba(254,61,99,1) 80%);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.index-buttons {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.submit-button{
  display: inline-block;
  background-color: rgb(59, 192, 236);
  border: 3px solid rgb(159, 91, 226);
  border-radius: 10px;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 15px;
}

.form{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:50px auto;

}

.text-button{
 background-image: -webkit-linear-gradient(rgba(43,197,250,1) 20%, rgba(148,43,250,1) 50%, rgba(254,61,99,1) 80%);
}

.rounded-button {
  border-radius: 50% !important;
  border-color: rgba(148,43,250,1) !important;
  color: rgba(148,43,250,1) !important
}


/* DIEGO'S CSS*/

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.start-screen{
    background: rgb(43,197,250);
    background: linear-gradient(138deg, rgba(43,197,250,1) 20%, rgba(148,43,250,1) 50%, rgba(254,61,99,1) 80%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@keyframes slide-in {
    0% {
      transform: translateX(-150%);
    }

    100%{
        transform: translateX(0);
    }
}

  @keyframes zoom-out{

    0% {
        transform: scale(1,1)
      }
  
      100%{
          transform: scale(0,0)
      }
    }

    @keyframes zoom-in{
        0% {
            transform: scale(0,0)
          }
      
          100%{
              transform: scale(1,1)
          }
    }

    @keyframes zoom-all{
        0% {
            width: 100px;
            height: 100px;
        }

        100%{
            transform: scale(200,200);
        }
    }

.start-img{
    width: 50%;
    max-width: 414px;
}

.animated{
    animation: 0.7s ease-out 0s 1 slide-in, 0.7s zoom-out 0.9s, 0.7s 1.5s zoom-in ;
}

.start-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.circle{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
    border-radius: 50%;
    animation-name: zoom-all;
    animation-delay: 1s;
    animation-duration: 3s;
}

.hidden{
    display: none;
}




/* END*/